body, html {
  height: 100%;
  margin: 0;
  background: #5D3F6A;
}

.bgimg {
  position: relative;
  opacity: 0.75;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  background-image: url("../img/AplusJ.jpg");
  min-height: 100%;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
}


.wrapper{
  margin: -50px auto 50px auto;
  width: calc(4*225px);
  color: #FFFFFF;
}

.numbers{
  font-size: 6em;
}

.meta, .strings{}
h1 {
  font-size: 4.5em;
  text-align: center;
}

/* countdown styles */

.countdown {
  width: 100%;
  display: inline-block;
  text-align: center;
}

.numbers {
  width: 100%;
  background: #FFFFFF;
  color: #353535;
}

.strings {
  width: 100%;
  height: auto;
  padding: 30px 0;
  background: #702963;
  color: #FFFFFF;
  font-size: 1.5em;
}

.cd-box {
  width: 210px;
  height: 360px;
  background: #FFFFFF;
  float: left;
  padding: 0;
  margin: 0px 15px 0 0;
  -webkit-box-shadow: 5px 6px 9px 1px rgba(53, 53, 53, 0.5);
  -moz-box-shadow: 5px 6px 9px 1px rgba(53, 53, 53, 0.5);
  box-shadow: 5px 6px 9px 1px rgba(53, 53, 53, 0.5);
}